.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0 auto;
    background: #a89ec2;
    color: floralwhite;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

#social-fb:hover {
    color: #3B5998;
}

#social-ln:hover {
    color: #0077B5;
}

#social-gh:hover {
    color: #6e5494;
}

#social-gp:hover {
    color: #d34836;
}

#social-em:hover {
    color: #f39c12;
}

.row-header {
    margin: 0px auto;
    padding: 0px 0px;
}

.row-content {
    margin: 0px auto;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.row-footer {
    margin: 0px auto;
    padding-top: 0px;
    background-color: #fef7f8;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    min-height: 100px;
    width: 100%;
}