<div class="container container-fluid" ng-controller="IndexController">
    <div class="row row-header">
        <span style="padding: 20px"></span>
    </div>
    <div class="col-lg-3">
        <img width="350" ng-src={{avatar}}>
    </div>
    <div class="col-lg-9">
        <!-- About -->
        <div id="about" class="row">
            <div class="container container-fluid col-sm-12">
                <div class="col-sm-1"></div>
                <div class="col-sm-11">
                    <h2>About Me</h2>
                    <ul class="list-unstyled row-content">
                        <li><strong>Name</strong>    Nicole Gager</li>
                        <li><strong>Age</strong>    24</li>
                        <li><strong>Hometown</strong>    Hudson, NH</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Hobbies & Interests -->
        <div id="hobbies" class="row">
            <div class="container container-fluid col-sm-12">
                <div class="col-sm-1"></div>
                <div class="col-sm-6">
                    <h2>Hobbies & Interests</h2>
                    <ul class="list-unstyled">
                        <li>Designing</li>
                        <li>Hiking / Kayaking</li>
                        <li>Traveling</li>
                        <li>Running / Spinning / Barre Fitness</li>
                        <li>Organization / Color Coding</li>
                        <li>Concerts / Live Music</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    </div>
    <span style="padding: 200px"></span>
</div>