<div class="container-fluid" ng-controller="IndexController">
    <div class="row row-header">
        <span style="padding: 20px"></span>
    </div>
    <div class="col-lg-3">
        <img width="450" ng-src={{avatar}}>
    </div>
    <div class="col-lg-9">
        <!-- About -->
        <div id="about" class="row row-content">
            <div class="col-sm-12">
                <h2>About Me</h2>
                <ul class="list-unstyled">
                    <li><strong>Name</strong> Nicole Gager</li>
                    <li><strong>Age</strong> 24</li>
                    <li><strong>Hometown</strong> Hudson, NH</li>
                </ul>
            </div>
        </div>
        <!-- Hobbies & Interests -->
        <div id="hobbies" class="row row-content">
            <div class="col-sm-12">
                <h2>Hobbies & Interests</h2>
                <div class="col-sm-6">
                    <ul class="list-unstyled">
                        <li>Hiking / Kayaking</li>
                        <li>Traveling</li>
                        <li>Running / Spinning / Barre Fitness</li>
                        <li>New Experiences / Adventures</li>
                        <li>Organization / Color Coding</li>
                        <li>Creating Spreadsheets</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="list-unstyled">
                        <li>Reading</li>
                        <li>Concerts / Live Music</li>
                        <li>Crafts / Painting / DIY</li>
                        <li>Style / Fashion</li>
                        <li>Designing</li>
                        <li>Cooking</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    </div>
    <span style="padding: 200px"></span>
</div>