<div class="col-xs-12 footer center-block">
<div class="row row-footer">
    <a href="https://www.facebook.com/nicole.gager"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
        <a href="https://www.linkedin.com/in/nicole-gager-68a1b467"><i id="social-ln" class="fa fa-linkedin-square fa-3x social"></i></a>
        <a href="https://github.com/ngager"><i id="social-gh" class="fa fa-github-square fa-3x social"></i></a>
        <a href="https://plus.google.com/102979693461836577264"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
        <a href="mailto:ngager23@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
</div>
<div class="row row-footer">
    <small>t: +1(603)204-3293</small>
</div>
</div>