<!-- Navigation -->
<nav class="navbar navbar-default">
    <ul class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="app" href="#">Home</a></li>
            <li><a ui-sref="app.about">About</a></li>
            <li><a ui-sref="app.resume">Resume</a></li>
            <li><a ui-sref="app.portfolio">Portfolio</a></li>
        </ul>
    </div>
</nav>
<!-- Jumbotron -->
<header class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <h1>Nicole Gager</h1>
                <p>Software Developer</p>
            </div>
        </div>
    </div>
</header>
