<!-- Content -->
<div class="col-xs-12 container-fluid">
    <!-- Education Experience -->
    <div id="education" class="row row-content">
        <div class="col-xs-12">
            <h3>Education</h3>
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <h4>Bachelor of Computer Science</h4>
                <p>University of New Hampshire, Durham, NH, 2011 - 2015</p>
            </div>

        </div>
    </div>

    <!-- Technologies -->
    <div id="technologies" class="row row-content">
        <div class="col-xs-12">
            <h3>Technologies</h3>
            <div class="col-sm-2"></div>
            <div class="col-sm-3">
                <h4>Professional Experience</h4>
                <ul>
                    <li>PHP / Laravel5</li>
                    <li>ActionScript / Flex</li>
                    <li>HTML5 / CSS3</li>
                    <li>MySQL</li>
                    <li>Version Control (SVN)</li>
                    <li>Twilio REST API</li>
                    <li>PHP Storm</li>
                    <li>Agile Scrum</li>
                    <li>Composer / Bower / NPM</li>

                </ul>
            </div>
            <div class="col-sm-3">
                <h4>Experience</h4>
                <ul>
                    <li>Java</li>
                    <li>C</li>
                    <li>Bootstrap</li>
                    <li>AngularJS</li>
                    <li>JavaScript / JQuery</li>
                    <li>Python</li>
                    <li>WordPress</li>
                    <li>Version Control (Git)</li>
                    <li>Linux</li>
                    <li>Adobe Photoshop</li>
                    <li>Adobe InDesign</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h4>Limited Experience</h4>
                <ul>
                    <li>JSON / AJAX</li>
                    <li>Grunt</li>
                    <li>Gulp</li>
                    <li>OpenGL</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Work Experience -->
    <div id="work" class="row row-content">
        <div class="col-xs-12">
            <h3>Work Experience</h3>
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <div class="row">
                    <h4>Software Developer</h4>
                    <h5>C Squared Systems LLC, Auburn, NH, 2015 - Present</h5>
                    <p>Developed an in-house ticketing system for SitePortal, a networking management software. This system handled the triggering of ticket/notification creation/escalation (as well as many other custom/unique features) from alarms monitoring devices from various vendors. </p>
                </div>
                <span style="padding: 40px"></span>
            </div>
        </div>
    </div>

    <!-- Certifications -->
    <div id="certifications" class="row row-content">
        <div class="col-xs-12">
            <h3>Certifications</h3>
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <div class="row">
                    <h4>Front-End Web UI Frameworks and Tools</h4>
                    <p>Hong Kong University of Science and Technology, August 2016</p>
                </div>
                <span style="padding: 40px"></span>
                <div class="row">
                    <h4>Front-End JavaScript Frameworks: AngularJS</h4>
                    <p>Hong Kong University of Science and Technology, November 2016</p>
                </div>
            </div>
        </div>
    </div>
</div>
