<!-- Content -->
<div class="container-fluid">
    <!-- Education Experience -->
    <div id="education" class="row row-content">
        <div class="col-xs-12">
            <h3>Education</h3>
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <div class="row">
                    <h4>Bachelor of Computer Science</h4>
                    <p>University of New Hampshire, Durham, NH, 2011 - 2015</p>
                </div>
            </div>

        </div>
    </div>

    <!-- Work Experience -->
    <div id="work" class="row row-content">
        <div class="col-xs-12">
            <h3>Work Experience</h3>
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="row">
                    <h4>Software Developer</h4>
                    <h5>C Squared Systems LLC, Auburn, NH, 2015 - Present</h5>
                    <p>Developed an in-house ticketing system for SitePortal, a networking management software. This system handled the triggering of ticket/notification creation/escalation (as well as many other custom/unique features) from alarms monitoring devices of various vendors. </p>
                </div>
                <span style="padding: 20px"></span>
                <div class="row">
                    <h4>IPv6 Consortium Intern</h4>
                    <h5>UNH Interoperability Lab, Durham, NH, 2013</h5>
                    <p>Ran unbiased Core Interoperabilty and Address Architecture testing on routers and hosts with IPv6 capabilities. Part of this internship included maintaining professional relationships with vendors like Dell, D-Link, and Microsoft. </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Technologies -->
    <div id="technologies" class="row row-content">
        <div class="col-xs-12">
            <h3>Technologies</h3>
            <div class="col-sm-2"></div>
            <div class="row">
                <div class="col-sm-3">
                    <h4>Professional Experience</h4>
                    <ul>
                        <li>PHP / Laravel5</li>
                        <li>ActionScript / Flex</li>
                        <li>HTML5 / CSS3</li>
                        <li>MySQL</li>
                        <li>Version Control (SVN)</li>
                        <li>Twilio REST API</li>
                        <li>Agile Scrum</li>
                        <li>JetBrains / PhpStorm / WebStorm / Intellij</li>
                        <li>Composer / Bower / NPM (Somewhat Limited)</li>

                    </ul>
                </div>
                <div class="col-sm-3">
                    <h4>Experience</h4>
                    <ul>
                        <li>Java</li>
                        <li>C</li>
                        <li>Bootstrap</li>
                        <li>AngularJS</li>
                        <li>JavaScript / JQuery</li>
                        <li>Python</li>
                        <li>WordPress</li>
                        <li>Version Control (Git)</li>
                        <li>Linux</li>
                        <li>Adobe Photoshop</li>
                        <li>Adobe InDesign</li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h4>Limited Experience</h4>
                    <ul>
                        <li>JSON / AJAX</li>
                        <li>Grunt / Gulp</li>
                        <li>Apache</li>
                        <li>OpenGL</li>
                        <li>C++</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Certifications -->
    <div id="certifications" class="row row-content">
        <div class="col-xs-12">
            <h3>Certifications</h3>
            <div class="col-sm-2"></div>
            <div class="row">
                <div class="col-sm-4">
                    <h4>Front-End Web UI Frameworks and Tools</h4>
                    <p>Hong Kong University of Science and Technology, August 2016</p>
                    <a href="https://www.coursera.org/account/accomplishments/certificate/ED83BU3S57ZW">View Certificate</a>
                </div>
                <div class="col-sm-4">
                    <h4>Front-End JavaScript Frameworks: AngularJS</h4>
                    <p>Hong Kong University of Science and Technology, November 2016</p>
                    <a href="https://www.coursera.org/account/accomplishments/certificate/FAWTG82J7SYV">View Certificate</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Projects -->
    <<div id="projects" class="row row-content">
        <div class="col-xs-12">
            <h3>Projects</h3>
            <div class="col-sm-2"></div>
            <div class="row">
                <div class="col-sm-8">
                    <h4><a href="https://github.com/ngager/Interactive-Touch-Game/">Interactive Touch Game</a></h4>
                    <h5>Seacoast Science Center, Rye, NH, 2014 - 2015</h5>
                    <p>Worked with the Seacoast Science Center to develop an interactive touch game for a preexisting exhibit on hurricane debris cleanup. The game uses touch-based features in Java with graphics handled in OpenCV to engage the public in learning about the technology employed by researchers to detect marine debris in coastal environments.</p>
                    <div class="col-sm-6">
                        <iframe src="https://docs.google.com/presentation/d/15YGmVFGgM-HeggJJt80YYdcA_-yKNSqMpRY5KHDsVT4/embed?start=true&loop=true&delayms=5000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                    </div>
                    <div class="col-sm-6">
                        <iframe src="https://docs.google.com/presentation/d/1DpOJqdNsVlovwd93v3OI7Qngghu86kjOzV6C_6i6Poo/embed?start=true&loop=true&delayms=5000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                    </div>
            </div>
        </div>
    </div>
    <span style="padding: 200px"></span>
</div>
